
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMudur.cshtml";
}
<br />
<br />
<br />
<h2>Anasayfa</h2>
<h3>Hoşgeldiniz Syn. @ViewBag.seciliper.PersonelAd</h3>
<ul>
    <li >
        <a style="width:300px" class="btn btn-info" href="/Mudur/ilet">İş iletmek için tıklayınız</a>
    </li>
    <br />
    <li>
        <a style="width:300px" class="btn btn-success" href="/Mudur/Takipilet">İş Takip etmek için tıklayınız</a></li>
    <br />
    <li>
        <a style="width:300px" class="btn btn-warning" href="/Mudur/Yap">İş yapmak için tıklayınız</a></li>
</ul>
