
@{
    ViewBag.Title = "Takipilet";
    Layout = "~/Views/Shared/_LayoutBaskan.cshtml";
}
<br />
<br />
<br />
<h2>Takipilet</h2>

<div class="container">
    <div class="jumbotron">
        @using(Html.BeginForm("Takipilet", "Baskan", FormMethod.Post)) 
        {
        <select id="selectper" name="selectper">
            @foreach (var item in ViewBag.personeller)
            {
                <option value="@item.PersonelID">@item.PersonelAd</option>
            }
        </select>
        <br />
        <button type="submit" class="btn btn-primary">Getir</button>
        }
    </div>
</div>